@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Electrolize", sans-serif;
}

body {
  background-color: #060016;
}
